<ion-app>
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon slot="icon-only" name="chevron-back-outline" style="color: white"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">
        {{name}}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onHome()">
          <img src="./assets/img/login-home.png">
        </ion-button>
        <ion-button (click)="onSetting()">
          <img src="./assets/img/login-set.png">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="page-content">

      <div class="page-card">
        <ion-item class="items" *ngFor="let item of serachData; index as i" [lines]="'none'">
          <ion-label class="lableBox">
            <div class="lableIcon"></div>
            <div class="lableTitle">
              {{item.name}}
            </div>
          </ion-label>
          <ion-input slot="end"
                     type="text"
                     class="inputs"
                     [placeholder]="item.placName"
                     [(ngModel)]="item.value"
                     [readonly]="item.isRead"
                     (click)="onClick(item.id,i)"
                     maxlength="30"></ion-input>
        </ion-item>
        <ion-item class="items" [lines]="'none'">
          <ion-button slot="end" class="searchButton"  (click)="onClick(4,4)">查询</ion-button>
        </ion-item>
        <span class="flex-span1"></span>
        <span class="flex-span2"></span>
        <span class="flex-span3"></span>
        <span class="flex-span4"></span>
      </div>


      <div class="page-card margin_top">
        <nz-table #basicTable [nzData]="listOfData" [nzShowPagination]="true"
                  [nzTotal]="total"
                  [nzPageSize]="pagesize"
                  [nzSize]="'small'" class="test"
                  (nzPageIndexChange)="PageIndexChange($event)"
        >
          <thead>
          <tr >
            <th [nzAlign]="'center'" [nzEllipsis]="true">编号</th>
            <th [nzAlign]="'center'" [nzEllipsis]="true">车牌号码</th>
            <th [nzAlign]="'center'" [nzEllipsis]="true">检测点</th>
            <th [nzAlign]="'center'" [nzEllipsis]="true">办理状态</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of listOfData"  (click)="showDetails(data)">
            <td [nzAlign]="'center'"
                style="white-space: nowrap;
                       max-width:50px;
                       overflow: hidden;
                       text-overflow: ellipsis">
              {{data.id}}
            </td>
            <td [nzAlign]="'center'">{{data.carNumber}}</td>
            <td [nzAlign]="'center'" >{{data.stationName}}</td>
            <td [nzAlign]="'center'">{{data.step===3?'未处理':'已处理'}}</td>
          </tr>
          </tbody>
        </nz-table>

        <span class="flex-span1"></span>
        <span class="flex-span2"></span>
        <span class="flex-span3"></span>
        <span class="flex-span4"></span>
      </div>

<!--      <div class="page-card margin_top">-->
<!--        <div class="weighing-section">-->
<!--          <div class="warning-section-th thHeader">-->
<!--            <div class="warning-section-td td1">编号</div>-->
<!--            <div class="warning-section-td td3">车牌号码</div>-->
<!--            <div class="warning-section-td td2">检测点</div>-->
<!--            <div class="warning-section-td td4">办理状态</div>-->
<!--          </div>-->
<!--          <div class="page-card-weighing-tdBox">-->
<!--            <div class="warning-section-th thContent" *ngFor="let data of listOfData" (click)="showDetails(data)" >-->
<!--              <div class="warning-section-td td1">{{data.key}}</div>-->
<!--              <div class="warning-section-td td3">{{data.name}}</div>-->
<!--              <div class="warning-section-td td2">{{data.age}}</div>-->
<!--              <div class="warning-section-td td4">{{data.address}}</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <span class="flex-span1"></span>-->
<!--        <span class="flex-span2"></span>-->
<!--        <span class="flex-span3"></span>-->
<!--        <span class="flex-span4"></span>-->
<!--      </div>-->
      <ion-datetime id="times"
                    displayFormat="YYYY/MM/DD/HH/mm"
                    pickerFormat="YYYY MM DD HH mm"
                    [pickerOptions]="customPickerOptionsStart"
                    [(ngModel)]="ValueTimeStart"
                    [min]="minTime" [hidden]="true">

      </ion-datetime>
      <ion-datetime id="timesEnd"
                    displayFormat="YYYY/MM/DD/HH/mm"
                    pickerFormat="YYYY MM DD HH mm"
                    [pickerOptions]="customPickerOptionsEnd"
                    [(ngModel)]="ValueTimeEnd"
                    [min]="minTime" [hidden]="true">

      </ion-datetime>
    </div>
  </ion-content>
</ion-app>
