<ion-app>
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon slot="icon-only" name="chevron-back-outline" style="color: white"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">
        {{name}}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onHome()">
          <img src="./assets/img/login-home.png">
        </ion-button>
        <ion-button (click)="onSetting()">
          <img src="./assets/img/login-set.png">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="page-content">

      <div class="page-card">
        <ion-item class="items" *ngFor="let item of serachData; index as i" [lines]="'none'">
          <ion-label class="lableBox">
            <div class="lableIcon"></div>
            <div class="lableTitle">
              {{item.name}}
            </div>
          </ion-label>
          <ion-input slot="end"
                     type="text"
                     class="inputs"
                     [placeholder]="item.placName"
                     [(ngModel)]="item.value"
                     [readonly]="item.isRead"
                     (click)="onClick(item.id,i)"
                     maxlength="30"></ion-input>
        </ion-item>
        <ion-item class="items" [lines]="'none'">
          <ion-button slot="end" class="searchButton">查询</ion-button>
        </ion-item>
        <span class="flex-span1"></span>
        <span class="flex-span2"></span>
        <span class="flex-span3"></span>
        <span class="flex-span4"></span>
      </div>

      <div class="page-card margin_top">
        <nz-table #basicTable [nzData]="listOfData" [nzShowPagination]="false" [nzSize]="'small'" class="test">
          <thead>
          <tr >
            <th [nzAlign]="'center'" [nzEllipsis]="true">编号</th>
            <th [nzAlign]="'center'" [nzEllipsis]="true">车牌号码</th>
            <th [nzAlign]="'center'" [nzEllipsis]="true">检测点</th>
            <th [nzAlign]="'center'" [nzEllipsis]="true">办理状态</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of listOfData" (click)="showDetails(data)">
            <td [nzAlign]="'center'">{{data.key}}</td>
            <td [nzAlign]="'center'">{{data.name}}</td>
            <td [nzAlign]="'center'" >{{data.age}}</td>
            <td [nzAlign]="'center'">{{data.address}}</td>
          </tr>
          </tbody>
        </nz-table>

        <span class="flex-span1"></span>
        <span class="flex-span2"></span>
        <span class="flex-span3"></span>
        <span class="flex-span4"></span>
      </div>
      <ion-datetime id="times"
                    displayFormat="YYYY/MM/DD/HH/mm"
                    pickerFormat="YYYY MM DD HH mm"
                    [pickerOptions]="customPickerOptionsStart"
                    [(ngModel)]="ValueTimeStart"
                    [min]="minTime" [hidden]="true">

      </ion-datetime>
      <ion-datetime id="timesEnd"
                    displayFormat="YYYY/MM/DD/HH/mm"
                    pickerFormat="YYYY MM DD HH mm"
                    [pickerOptions]="customPickerOptionsEnd"
                    [(ngModel)]="ValueTimeEnd"
                    [min]="minTime" [hidden]="true">

      </ion-datetime>
    </div>
  </ion-content>
</ion-app>
