@charset "UTF-8";
div {
  box-sizing: border-box; }

p {
  margin: 0; }

.page-content {
  background-size: 100% 100%;
  padding: 13px 14px 24px; }

.page-box {
  width: 100%;
  background: rgba(31, 57, 122, 0.2);
  border: 1px solid #1F397A;
  padding: 13px 13px 0; }

.page-card {
  width: 100%;
  background: rgba(84, 129, 220, 0.2);
  border: 0 solid #1F397A;
  position: relative; }

.page-card-header {
  padding: 7px 10px;
  background: rgba(84, 129, 220, 0.2);
  border: 1px solid #1F397A; }
  .page-card-header p {
    margin: 0; }

.toolbar {
  --background: #0A0E2E;
  --color: #fff; }
  .toolbar .title {
    --color: #fff;
    text-align: center;
    font-size: 17px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #FFFFFF; }
  .toolbar img {
    width: 21px;
    height: 21px; }

.page-card-header p {
  font-size: 11px;
  font-weight: normal;
  color: #1DDEFB; }

.page-card span {
  position: absolute;
  width: 7px;
  height: 7px;
  border: 1px solid #1DDEFB; }

.page-card .flex-span1 {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none; }

.page-card .flex-span2 {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none; }

.page-card .flex-span3 {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none; }

.page-card .flex-span4 {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none; }

.page-card-section {
  background: rgba(244, 91, 91, 0.2);
  border: 1px solid #F45B5B;
  margin-top: 11px; }

.page-card2-section {
  background: rgba(31, 57, 122, 0.2);
  border: 0px solid #10CFE2;
  margin-top: 11px; }

/*详细信息排序 盒子 content*/
.section-card-section-content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 11px; }

.section-card-section-content .p1 {
  width: 50%;
  font-size: 8px;
  font-weight: 400;
  color: #FFFFFF;
  padding-left: 15px;
  margin-top: 11px; }

.section-card-section-content .p1 span {
  min-width: 34px;
  text-align: left; }

.map {
  width: 100%;
  height: 100%; }

.weighing-section {
  margin-top: 13px; }
  .weighing-section .thHeader {
    background: #1F397A; }
  .weighing-section .thContent {
    padding: 13px 0; }
  .weighing-section .warning-section-th {
    padding: 7px 5px;
    display: flex; }
    .weighing-section .warning-section-th:nth-child(2n) {
      background: rgba(31, 57, 122, 0.3); }
    .weighing-section .warning-section-th .warning-section-td {
      font-size: 9px;
      font-family: Hiragino Sans GB;
      font-weight: normal;
      color: #FFFFFF;
      text-align: center; }
    .weighing-section .warning-section-th .td1 {
      width: 31px; }
    .weighing-section .warning-section-th .td2 {
      padding: 0 5px;
      flex: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    .weighing-section .warning-section-th .td3 {
      width: 58px;
      white-space: nowrap; }
    .weighing-section .warning-section-th .td4 {
      width: 50px; }
      .weighing-section .warning-section-th .td4 .btn {
        width: 37px;
        margin: 0 auto;
        padding: 2px 0;
        border: 1px solid #5088F9;
        border-radius: 3px; }

:host ::ng-deep .toolbar {
  --background: #0A0E2E;
  --color: #fff; }
  :host ::ng-deep .toolbar :host ::ng-deep .title {
    --color: #fff;
    text-align: center;
    font-size: 17px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #FFFFFF; }

.page-content {
  background: url("../../../assets/img/all_bg.png");
  min-height: 100%;
  background-size: 100% 50%; }

.items {
  display: flex;
  justify-content: space-between;
  --background:RGBA(27, 47, 89, 0.4);
  --highlight-color-valid: #5481DC;
  --border: 0px solid #5481DC;
  --padding-start: 15px;
  --padding-end: 10px;
  --highlight-color-focused: #5481DC;
  --highlight-color-invalidL: #5481DC;
  --inner-padding-end: 0; }

.lableBox {
  display: flex;
  flex-direction: row; }

.lableIcon {
  display: block;
  width: 3px;
  background: #E7AD18;
  border-radius: 0px;
  margin-right: 3px; }

.lableTitle {
  background: #566074;
  font-size: 11px;
  font-family: Hiragino Sans GB;
  font-weight: normal;
  color: #FFFFFF;
  padding-left: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 73px; }

.inputs {
  --color: #ffff;
  --placeholder-color: #ffff;
  --padding-start: 0px;
  --padding-end: 0px;
  margin-right: 10px;
  font-size: 9px;
  width: 200px;
  border-bottom: 1px solid #5481DC; }

.searchButton {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 5px;
  --padding-bottom: 5px;
  --background: #5481DC; }

.margin_top {
  margin-top: 10px; }

.page-card {
  padding: 14px 14px; }

:host ::ng-deep .ant-table-container .ant-table-content table {
  width: 100%; }

:host ::ng-deep .ant-table-row {
  background: #122146;
  color: white;
  width: 100%; }

:host ::ng-deep .ant-table-small .ant-table-thead > tr > th {
  background: #1f397a;
  border-bottom: 1px solid #1f397a;
  color: white;
  white-space: nowrap;
  padding: 6px;
  font-size: 9px; }

:host ::ng-deep .ant-table-tbody > tr > td {
  border-bottom: 1px solid #122146;
  font-size: 9px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 5px;
  padding-left: 5px; }

:host ::ng-deep .ant-table-container .ant-table-content table {
  width: 100%; }

/*# sourceMappingURL=query-illegal-record.component.css.map */
