@import '../../Base/BaseCss';
.page-content{
  background: url("../../../assets/img/all_bg.png") no-repeat ;
  background-size: 100% 100%;
  min-height: 100%;
}

.page-card2-section{
  background: rgba(84, 129, 220, 0.2);
  border: 1px solid #5481DC;
}
.page-box{
  padding: 13px 13px 25px;
}
.img-content{
  position: relative;
  height: 140px;
  //huakaui
  ion-slides {
    height: 100%;
  }
  img{
    width: 100%;
    height: 100%;
    border: 1px solid #5481DC;
  }
  .flex-p1{
    width: 76px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: #5481DC;
    font-size: 11px;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
    &:before{
      content: "";
      width: 0px;
      height: 0px;
      /* border-top: 10px solid transparent; */
      border-bottom: 20px solid transparent;
      border-left: 15px solid #5481DC;
      position: absolute;
      top: 0;
      right: -15px;
    }
  }
  .flex-p2{
    width: 76px;
    height: 20px;
    position: absolute;
    bottom: 6px;
    right: 0;
    background: #5481DC;
    font-size: 11px;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
  }
}
.basic-page{
  .basic-section{
    .p1:first-child{
      width: 100%;
    }
  }
}

.basic-page3{
  border: none;
  border-radius: 5px;
}
.basic-section3{
  padding-bottom: 8px;

  .p1{
    margin-top: 8px;
  }
}
.basic-section span{
  border: none;
  width: auto;
  height: auto;
  position: inherit;
}

.img-content .flex-p2 {
  width: 76px;
  height: 20px;
  position: absolute;
  bottom: 0px;
  right: 0;
  background: #5481DC;
  font-size: 11px;
  font-weight: normal;
  color: #FFFFFF;
  text-align: center;
  line-height: 20px; }
.img-content .flex-p2:before {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-right: 15px solid #5481DC;
  position: absolute;
  bottom: 0;
  left: -15px; }


.basic-page4{
  background: rgba(84, 129, 220, 0.2);
  margin-top: 13px;
  .basic-page4-header{
    padding: 7px 0;
    background: rgba(84, 129, 220, 0.4);
    display: flex;
    p{
      font-size: $font-size3;
      font-weight: normal;
      color: #FFFFFF;
    }
    .p1{
      width: 40%;
      padding-left: $font-size3;
      text-align: left;
    }
    .p2{
      width: 20%;
      text-align: center;
    }
  }
  .basic-page4-section-box{
    background: rgba(0,0,0,0);
  }


}
.page-footer-btn{
  border-top: 1px solid #5481DC;
  margin-top: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  .left{
    width: 193px;
    height: 50px;
    border-radius: 5px;
    background-image: url("../../../assets/img/button-1bg.png");
    background-size: 100% 100%;
    text-align: center;
    line-height: 50px;
    transform: translateY(-8px);
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #5481DB;
    text-stroke: 1px #5481DB;
    margin: 0 5px;
  }
  .right{
    background: rgba(244, 91, 91, 0.2);
    border-radius: 5px;
    font-size: 9px;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 16px;
    padding: 5px 9px;
    p{    white-space: nowrap;

    }
  }
}
