<ion-app>
  <!--头部-->
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon slot="icon-only" name="chevron-back-outline" style="color: white"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">
        车辆基本信息
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onHome()">
          <img src="../../../assets/img/login-home.png" >
        </ion-button>
        <ion-button (click)="onSetting()" >
          <img src="../../../assets/img/login-set.png" >
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!--身体-->
  <ion-content>
    <div class="page-content">
      <div class="page-box">
        <div class="img-content">
          <ion-content>
            <ion-slides pager="true" [options]="slideOpts">
              <ion-slide *ngFor="let data of banner">
                <img [src]="ImgPath+data" alt="">
              </ion-slide>
            </ion-slides>
          </ion-content>
          <p class="flex-p1">{{RequestData.carNumber}}</p>
          <p class="flex-p2">{{alarmRecordType}}</p>
        </div>
        <div class="page-card2-section page-card basic-page">
          <div class="section-card-section-content  basic-section">
            <p class="p1" *ngFor="let itemP of list">
              <span>{{itemP.span}}</span>{{itemP.p}}
            </p>
          </div>
          <span class="flex-span1"></span>
          <span class="flex-span2"></span>
          <span class="flex-span3"></span>
          <span class="flex-span4"></span>
        </div>
        <div class="page-card2-section page-card ">
          <div class="section-card-section-content basic-section">
            <p class="p1">是黑名单：否</p>
            <p class="p1">布控原因：超载</p>
          </div>
          <span class="flex-span1"></span>
          <span class="flex-span2"></span>
          <span class="flex-span3"></span>
          <span class="flex-span4"></span>
        </div>
        <div class="page-card-section basic-page3">
          <div class="section-card-section-content basic-section3" (click)="onJump(2)">
            <p class="p1">历史违法记录</p>
            <p class="p1">{{IllegalList.length}}条未处理</p>
          </div>
        </div>
        <div class="basic-page4">
          <div class="basic-page4-header">
            <p class="p1">过车时间</p>
            <p class="p1">过车地点</p>
            <p class="p2">状态</p>
          </div>
          <div class="basic-page4-section">
            <div class="basic-page4-header basic-page4-section-box" *ngFor="let data of IllegalList;index as i">
              <p class="p1">{{data.illegalDate}}</p>
              <p class="p1">{{data.weighname}}</p>
              <p class="p2">{{data.step===3?"未处理":"已处理"}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="page-footer-btn">
        <div class="right" style="opacity: 0">
          <p>信息反馈</p>
          <p>(已上传)</p>
        </div>
        <div class="left" (click)="onJump(3)">开始追踪</div>
        <div class="right" (click)="onJump(1)">
          <p>信息反馈</p>
          <p>{{status===0?"(未上传)":"(已上传)"}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-app>
