@import '../../Base/BaseCss';
.page-content{
  min-height: 100%;
  background: url("../../../assets/img/login-bg.png") no-repeat ;
}
.page-box{
  padding: 14px;
}
//header
.weighing-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
  div{
    font-size: 11px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #FFFFFF;
    padding: 10px 0;
    width: 33%;
    text-align: center;
  }
  .selected{
    background: rgba(80, 136, 249, 0.4);
  }
  .flex-span{
    width: 4px;
    height: 4px;
    background: #95B8FF;
    border: none;
  }
}
//section
.monitoring-section{
  margin-top: 6px;
  padding: 0 14px;
  padding-bottom: 13px;
  .enterprise-ul{
    margin: 0;
    padding: 0;
    .enterprise-ul-li{
      display: flex;
      p{
        color: #FFFFFF;
        font-size: 9px;
        font-weight: normal;
        padding: 13px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
      }
      .p1{
        color: #1DDEFB;
        width: 100px;
      }
      .p2{
        flex: 1;
        border-bottom: 1px solid #5088F9;
        padding-left: 8px;
      }
    }
  }
}
//footer btn
.warning-btn-box{
  display: flex;
  justify-content: flex-end;
  margin-top: 14px;
}
.warning-btn{
  width: 73px;
  height: 24px;
  background: #5481DC;
  border-radius: 7px;
  font-size: 11px;
  font-family: Hiragino Sans GB;
  font-weight: normal;
  color: #FFFFFF;
  text-align: center;
  line-height: 24px;
}

