@import "../../Base/BaseCss";
//section
.weighing-section{
  margin-top: 13px;
  .thHeader{
    background: #1F397A;
  }
  .thContent{
    padding: 13px 0;
  }

  .warning-section-th{
    padding: 7px 5px;
    display: flex;
    &:nth-child(2n){
      background: rgba(31, 57, 122, .3);
    }
    .warning-section-td{
      font-size: 9px;
      font-family: Hiragino Sans GB;
      font-weight: normal;
      color: #FFFFFF;
      text-align: center;
    }
    .td1{
      width: 31px;
    }
    .td2{
      padding: 0 5px;
      flex: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .td3{
      width: 58px;
      white-space: nowrap;
    }
    .td4{
      width: 50px;
      .btn{
        width: 37px;
        margin: 0 auto;
        padding: 2px 0;
        border: 1px solid #5088F9;
        border-radius: 3px;
      }
    }
  }
}


.page-content{
  background: url("../../../assets/img/all_bg.png") ;
  min-height: 100%;
  background-size: 100% 50%;
}

.items{
  display: flex;
  justify-content: space-between;
  --background:RGBA(27, 47, 89, 0.4);
  --highlight-color-valid: #5481DC;
  --border: 0px solid #5481DC;
  --padding-start: 15px;
  --padding-end: 10px;
  --highlight-color-focused: #5481DC;
  --highlight-color-invalidL: #5481DC;
  --inner-padding-end: 0;
}

.lableBox{
  display: flex;
  flex-direction: row;
}
.lableIcon{
  display: block;
  width: 3px;
  //height: 10px;
  background: #E7AD18;
  border-radius: 0px;
  margin-right: 3px;
}
.lableTitle{
  background: #566074;
  font-size: 11px;
  font-family: Hiragino Sans GB;
  font-weight: normal;
  color: #FFFFFF;
  padding-left: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 73px;
}
.inputs{
  --color: #ffff;
  --placeholder-color: #ffff;
  --padding-start: 0px;
  --padding-end: 0px;
  margin-right: 10px;
  font-size: 9px;
  width: 200px;
  border-bottom: 1px solid #5481DC;
}
.searchButton {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 5px;
  --padding-bottom: 5px;
  --background: #5481DC;
}
.margin_top{
  margin-top: 10px;
}
.page-card{
  padding: 14px 14px;
}
:host ::ng-deep  .ant-table-container {
  .ant-table-content  {
    table{
      width: 100%;
    }
  }
}


//:host ::ng-deep .ant-table-wrapper{
//  background: red;
//}
//:host ::ng-deep .ant-table-content .ant-table-container{
//  background: red;
//}
//:host ::ng-deep .ant-table-container{
//  background: red;
//}
//:host ::ng-deep .ant-table{
//  background: red;
//}
//:host ::ng-deep  .ant-table table{
//  background: red;
//}

:host ::ng-deep .ant-table-row{
  background: rgba(18, 33, 70, 1);
  color: white;
  width: 100%;
}

:host ::ng-deep .ant-table-small .ant-table-thead > tr > th{
  background: rgba(31, 57, 122, 1);
  border-bottom: 1px solid rgba(31, 57, 122, 1);
  color: white;
  white-space: nowrap;
  padding: 6px;

  font-size: 9px;
}
:host ::ng-deep .ant-table-tbody > tr > td{
  border-bottom: 1px solid rgba(18, 33, 70, 1);
  font-size: 9px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 5px;
  padding-left: 5px;
}
:host ::ng-deep  .ant-table-container {
  .ant-table-content  {
    table{
      width: 100%;
    }
  }
}


