<ion-app>
  <!--头部-->
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon slot="icon-only" name="chevron-back-outline" style="color: white"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">
        源头企业
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onHome()">
          <img src="../../../assets/img/login-home.png" >
        </ion-button>
        <ion-button (click)="onSetting()" >
          <img src="../../../assets/img/login-set.png" >
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!--身体-->
  <ion-content>
    <div class="page-content">
      <div class="page-content-header">

        <div class="page-card weighing-header">
          <p class="weighing-header-p1" (click)="onJump(0)">运行轨迹</p>
          <p (click)="onJump(1)">图表分析</p>
          <span class="flex-span1 flex-span"></span>
          <span class="flex-span2 flex-span"></span>
          <span class="flex-span3 flex-span"></span>
          <span class="flex-span4 flex-span"></span>
        </div>
        <div class="page-card weighing-header header-flex-source">
          <div class="header-flex-source-li">
            <div class="span"></div>超限率1%以下
          </div>
          <div class="header-flex-source-li">
            <div class="span span2"></div>超限率1%-3%
          </div>
          <div class="header-flex-source-li">
            <div class="span span3"></div>超限率3%以上
          </div>
          <span class="flex-span1 flex-span"></span>
          <span class="flex-span2 flex-span"></span>
          <span class="flex-span3 flex-span"></span>
          <span class="flex-span4 flex-span"></span>
        </div>
      </div>
      <div class="page-content-section">
        <div class="run-monitoring-header">
          <div class="run-header-box">
            <div class="box-right">3</div>
            <div class="box-left">
              <img src="../../../assets/img/zhichaozhan.png" alt="feixcje">
              超限检测站
            </div>
          </div>
          <div class="run-header-box run-header-box-no">
            <div class="box-right">2</div>
            <div class="box-left">
              <img src="../../../assets/img/feixcje.png" alt="feixcje">
              非现场检测点
            </div>
          </div>
        </div>
        <div class="page-card2-section page-card basic-page">
          <div class="page-card-header">
            <p>菁华铺超限检测站</p>
          </div>
          <div class="section-card-section-content  basic-section">
            <div class="basic-section-card">
              <div class="basic-section-card-content">
                <div class="run-p1"><p>242</p>
                  辆
                </div>
                <div>通行总数</div>
              </div>
              <div class="basic-section-card-content">
                <div class="run-p1 run-p2"><p>6</p>
                  辆
                </div>
                <div>超限车辆</div>
              </div>
              <div class="basic-section-card-content">
                <div class="run-p1 run-p3"><p>2.67</p>
                  %
                </div>
                <div>超限率</div>
              </div>
            </div>
          </div>
          <div class="basic-page-btn">查看数据</div>
          <span class="flex-span1"></span>
          <span class="flex-span2"></span>
          <span class="flex-span3"></span>
          <span class="flex-span4"></span>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-tab-bar slot="bottom" class="barBox">
    <ion-tab-button tab="/command/runMonitoring">
      <img src="./assets/img/kind-1on.png" class=""/>
      <ion-label>运行监测</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="/command/sourceIndex">
      <img src="./assets/img/kind-2off.png" />
      <ion-label>源头企业</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="/command/commandIndex">
      <img src="./assets/img/kind-3off.png" />
      <ion-label>指挥调度</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="/queryAll/index">
      <img src="./assets/img/kind-4off.png" />
      <ion-label>综合查询</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-app>
