<ion-app>
  <!--头部-->
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon slot="icon-only" name="chevron-back-outline" style="color: white"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">
        源头督查
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onHome()">
          <img src="../../../assets/img/login-home.png" >
        </ion-button>
        <ion-button (click)="onSetting()" >
          <img src="../../../assets/img/login-set.png" >
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!--身体-->
  <ion-content>
    <div class="page-content">
      <div class="page-box">
        <div class="page-card2-section page-card basic-page2">
          <div class="section-card-section-content basic-section">
            <p class="p1">点击上传图片</p>
            <div class="imgList-box">
              <img class="imgList" *ngFor="let item of imgsList" [src]="item" alt="">
              <div class="imgUp">
                <img src="./assets/img/all-img.png" alt="" class="add">
                <input type="file" class="file" (change)="onSelectFile($event,0)" accept="image/*"/>
              </div>
            </div>
          </div>
          <span class="flex-span1"></span>
          <span class="flex-span2"></span>
          <span class="flex-span3"></span>
          <span class="flex-span4"></span>
          <img src="../../../assets/img/all-2tbg.png" alt="" class="flex-img">
        </div>

        <div class="page-card2-section page-card ">
          <div class="section-card-section-content basic-section">
            <p class="p1">执法人</p>
            <p class="p1">{{requestData.supervisePerson}}</p>
            <p class="p1">督查地点</p>
            <div class="img-p" (click)="overflowShow = !overflowShow">
              <p class="p1" [class.overflow-p1]="overflowShow">
                {{requestData.enterpriseName}}
              </p>
              <img src="../../../assets/img/all-op.png" [class.overflow-img]="!overflowShow" alt="">
            </div>
          </div>
          <span class="flex-span1"></span>
          <span class="flex-span2"></span>
          <span class="flex-span3"></span>
          <span class="flex-span4"></span>
        </div>

        <div class="page-card2-section basic-page">
          <div class="page-card-header">
            <p>督查工作情况</p>
          </div>
          <div class="section-card-section-content work-section">
            <div class="work-section-li" *ngFor="let item of liData">
              <p class="p1">{{item.text}}</p>
              <ion-toggle color="secondary" [(ngModel)]="item.isDisabled" slot="end" class="toggle"></ion-toggle>
            </div>
          </div>
        </div>

        <div class="page-card2-section basic-page">
          <div class="page-card-header">
            <p>补充事项</p>
          </div>
          <div class="section-card-section-content  basic-section">
            <ion-textarea auto-grow="true" class="my-input" [(ngModel)]="requestData.remark" placeholder="请输入您需要补充的事项..."></ion-textarea>
          </div>
        </div>

      </div>
      <div class="page-footer-btn">
        <div class="right" style="opacity: 0">
          <p>信息反馈</p>
          <p>(已上传)</p>
        </div>
        <div class="left" (click)="sumbit()">确认提交</div>
        <div class="right" (click)="onJump()">
          <p>取消上传</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-app>
