@charset "UTF-8";
div {
  box-sizing: border-box; }

p {
  margin: 0; }

.page-content {
  background-size: 100% 100%;
  padding: 13px 14px 24px; }

.page-box {
  width: 100%;
  background: rgba(31, 57, 122, 0.2);
  border: 1px solid #1F397A;
  padding: 13px 13px 0; }

.page-card {
  width: 100%;
  background: rgba(84, 129, 220, 0.2);
  border: 0 solid #1F397A;
  position: relative; }

.page-card-header {
  padding: 7px 10px;
  background: rgba(84, 129, 220, 0.2);
  border: 1px solid #1F397A; }
  .page-card-header p {
    margin: 0; }

.toolbar {
  --background: #0A0E2E;
  --color: #fff; }
  .toolbar .title {
    --color: #fff;
    text-align: center;
    font-size: 17px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #FFFFFF; }
  .toolbar img {
    width: 21px;
    height: 21px; }

.page-card-header p {
  font-size: 11px;
  font-weight: normal;
  color: #1DDEFB; }

.page-card span {
  position: absolute;
  width: 7px;
  height: 7px;
  border: 1px solid #1DDEFB; }

.page-card .flex-span1 {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none; }

.page-card .flex-span2 {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none; }

.page-card .flex-span3 {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none; }

.page-card .flex-span4 {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none; }

.page-card-section {
  background: rgba(244, 91, 91, 0.2);
  border: 1px solid #F45B5B;
  margin-top: 11px; }

.page-card2-section {
  background: rgba(31, 57, 122, 0.2);
  border: 0px solid #10CFE2;
  margin-top: 11px; }

/*详细信息排序 盒子 content*/
.section-card-section-content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 11px; }

.section-card-section-content .p1 {
  width: 50%;
  font-size: 8px;
  font-weight: 400;
  color: #FFFFFF;
  padding-left: 15px;
  margin-top: 11px; }

.section-card-section-content .p1 span {
  min-width: 34px;
  text-align: left; }

.map {
  width: 100%;
  height: 100%; }

.page-content {
  background: url("../../../assets/img/login-bg.png") no-repeat; }

.page-card-header p {
  color: #fff; }

.page-card2-section {
  background: rgba(84, 129, 220, 0.2);
  border: 1px solid #5481DC; }

.basic-page2 .p1 {
  width: 100%;
  font-size: 9px;
  padding-left: 0; }
.basic-page2 .basic-section {
  padding: 0 14px 13px; }
.basic-page2 .imgUp {
  margin: 13px 0 0; }

.page-card .flex-img {
  position: absolute;
  top: -4px;
  left: 0;
  width: 100px;
  height: 4px; }

.page-box {
  padding: 13px 13px 25px; }

.page-footer-btn {
  border-top: 1px solid #5481DC;
  margin-top: 27px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .page-footer-btn .left {
    width: 193px;
    height: 50px;
    border-radius: 5px;
    background-image: url("../../../assets/img/button-1bg.png");
    background-size: 100% 100%;
    text-align: center;
    line-height: 50px;
    transform: translateY(-8px);
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #5481DB;
    text-stroke: 1px #5481DB;
    margin: 0 5px; }
  .page-footer-btn .right {
    background: rgba(84, 129, 220, 0.2);
    border-radius: 5px;
    font-size: 9px;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 16px;
    padding: 13px 9px; }
    .page-footer-btn .right p {
      white-space: nowrap; }

.imgList-box {
  display: flex;
  overflow-y: hidden; }

.imgUp {
  display: flex;
  margin: 13px auto 0;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 63px;
  min-width: 63px;
  min-height: 63px;
  background: rgba(84, 129, 220, 0.2);
  border: 0 solid #5481DC;
  position: relative; }

.imgList {
  width: 63px;
  height: 63px;
  min-height: 63px;
  background: rgba(84, 129, 220, 0.2);
  border: 0 solid #5481DC;
  position: relative;
  margin: 13px 13px 0 0; }

.file {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 101; }

.add {
  width: 27px;
  height: 27px;
  position: absolute; }

.my-input {
  --padding-end:10px;
  --padding-bottom:0;
  --padding-start:10px;
  --padding-top:0;
  --font-size: 9px;
  --color: #FFFFFF;
  height: 70px; }

.sc-ion-textarea-md {
  height: 70px; }

.work-section .work-section-li {
  display: flex; }
  .work-section .work-section-li .p1 {
    font-size: 11px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #FFFFFF;
    padding-left: 13px;
    flex: 1; }

/*# sourceMappingURL=inspector.component.css.map */
