<ion-app>
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon slot="icon-only" name="chevron-back-outline" style="color: white"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">
        {{name}}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onHome()">
          <img src="./assets/img/login-home.png">
        </ion-button>
        <ion-button (click)="onSetting()">
          <img src="./assets/img/login-set.png">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar class="toolbarSub">
      <ion-segment (ionChange)="segmentChanged($event)" value="0" class="segment">
        <ion-segment-button  value="0">
          <ion-label>{{datas.Operation.personnel.label}}</ion-label>
        </ion-segment-button>
        <ion-segment-button  value="1">
          <ion-label >{{datas.Operation.enterprise.label}}</ion-label>
        </ion-segment-button>
        <ion-segment-button  value="2">
          <ion-label>{{datas.Operation.vehicle.label}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="page-content">
      <ion-router-outlet></ion-router-outlet>
    </div>
  </ion-content>
</ion-app>
