@import "../../Base/BaseCss";
@import "../../Base/BaseIonic";

.page-content{
  background: url("../../../assets/img/all_bg.png") no-repeat;
  min-height: 100%;
  background-size: 100% 100%;

}

// close
.closeButton{
  width: 73px;
  height: 24px;
  --background: #5481DC;
  border-radius: 7px;
}

.items{
  display: flex;
  justify-content: space-between;
  --background:RGBA(27, 47, 89, 0.4);
  --highlight-color-valid: #5481DC;
  --border: 0px solid #5481DC;
  --padding-start: 10px;
  --padding-end: 10px;
  --highlight-color-focused: #5481DC;
  --highlight-color-invalidL: #5481DC;
  --inner-padding-end: 0;
  .labels{
    font-size: 9px;
    font-family: Hiragino Sans GB;
    font-weight: normal;
    color: #1DDEFB;
  }
  .input{
    --color: #ffff;
    --placeholder-color: #ffff;
    --padding-start: 0px;
    --padding-end: 0px;
    margin-right: 30px;
    font-size: 9px;
    width: 200px;
  }
  .p{
    color: #ffff;
    margin-left: 40px;
    font-size: 9px;
    width: 200px;
    padding-bottom: 5px;
    border-bottom: 1px solid #5088F9;
    max-lines: 1;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .img{
    width: 53px;
    height: 21px;
  }
  .widths{
    width: 200px;
    border-bottom: 1px solid #5088F9;
    padding-bottom: 5px;
  }

}
.img{
  margin-top: 10px;
}
