<ion-app>
  <!--头部-->
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon slot="icon-only" name="chevron-back-outline" style="color: white"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">
        夏铎铺镇南方水泥有限公司
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onHome()">
          <img src="../../../assets/img/login-home.png" >
        </ion-button>
        <ion-button (click)="onSetting()" >
          <img src="../../../assets/img/login-set.png" >
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!--身体-->
  <ion-content>
    <div class="page-content">
      <div class="page-box">
        <!--card-->
        <div class="page-card">
          <div class="page-card-header">
            <p>过磅详情</p>
          </div>
          <div class="monitoring-section">
            <ul class="enterprise-ul">
              <li class="enterprise-ul-li" *ngFor="let item of liData">
                <p class="p1">{{item.title}}</p>
                <p class="p2">
                  {{item.text}}
                  <img *ngIf="item.src" [src]="item.src" alt="">
                </p>
              </li>
            </ul>
          </div>
          <div class="weighingD-box">
            <ion-content>
              <ion-slides pager="true" [options]="slideOpts">
                <ion-slide>
                  <h1>Slide 1</h1>
                </ion-slide>
                <ion-slide>
                  <h1>Slide 2</h1>
                </ion-slide>
                <ion-slide>
                  <h1>Slide 3</h1>
                </ion-slide>
              </ion-slides>
            </ion-content>
          </div>
          <img src="../../../assets/img/login-bg.png" alt="" class="weighingD-img">
          <span class="flex-span1"></span>
          <span class="flex-span2"></span>
          <span class="flex-span3"></span>
          <span class="flex-span4"></span>
        </div>
        <!--card end-->
        <div  class="warning-btn-box">
          <div class="warning-btn" (click)="onClose()">关闭</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-app>
