@charset "UTF-8";
div p span {
  font-size: 16px !important; }

div {
  box-sizing: border-box; }

p {
  margin: 0; }

.page-content {
  min-height: 100%;
  background-size: 100% 100%;
  padding: 13px 14px 24px; }

.page-box {
  width: 100%;
  background: rgba(31, 57, 122, 0.2);
  border: 1px solid #1F397A;
  padding: 13px 13px 0; }

.page-card {
  width: 100%;
  background: rgba(84, 129, 220, 0.2);
  border: 0 solid #1F397A;
  position: relative; }

.page-card-header {
  padding: 7px 10px;
  background: rgba(84, 129, 220, 0.2);
  border: 1px solid #1F397A; }
  .page-card-header p {
    margin: 0; }

.toolbar {
  --background: #0A0E2E;
  --color: #fff; }
  .toolbar .title {
    --color: #fff;
    text-align: center;
    font-size: 17px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #FFFFFF; }
  .toolbar img {
    width: 21px;
    height: 21px; }

.page-card-header p {
  font-size: 16px;
  font-weight: normal;
  color: #1DDEFB; }

.page-card span {
  position: absolute;
  width: 7px;
  height: 7px;
  border: 1px solid #1DDEFB; }

.page-card .flex-span1 {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none; }

.page-card .flex-span2 {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none; }

.page-card .flex-span3 {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none; }

.page-card .flex-span4 {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none; }

.page-card-section {
  background: rgba(244, 91, 91, 0.2);
  border: 1px solid #F45B5B;
  margin-top: 11px; }

.page-card2-section {
  background: rgba(31, 57, 122, 0.2);
  border: 1px solid #1f397a;
  margin-top: 11px; }

/*详细信息排序 盒子 content*/
.section-card-section-content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 11px; }

.section-card-section-content .p1 {
  width: 50%;
  font-size: 15px;
  font-weight: 400;
  color: #FFFFFF;
  padding-left: 15px;
  margin-top: 11px; }

.section-card-section-content .p1 span {
  min-width: 34px;
  text-align: left; }

.map {
  width: 100%;
  height: 100%; }

.barBox {
  --background: #0a162b ;
  --background-focused: #0a162b;
  --background-focused-opacity: 0.2;
  --color: #fff;
  --color-focused: #1DDEFB;
  --color-selected: #1DDEFB;
  --padding-bottom: 10px;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 10px;
  --ripple-color: 0;
  padding: 5px 0; }
  .barBox img {
    width: 25px;
    height: 25px;
    margin-bottom: 5px; }

.page-content {
  background: url("../../../assets/img/all_bg.png") no-repeat;
  height: 100%;
  min-height: 100%; }

:host ::ng-deep .page-box {
  padding: 20px 25px;
  border: 1px solid #1F397A;
  height: 100%; }

.item_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px; }

.item {
  width: 40%;
  min-height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: rgba(31, 57, 122, 0.2);
  border: 0px solid #5481DC;
  border-radius: 5px; }
  .item:nth-child(2) {
    margin-left: 10%; }

.item_img {
  width: 31px;
  height: 31px;
  position: absolute;
  top: 24px; }

.tile {
  font-size: 11px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  text-align: center; }

/*# sourceMappingURL=index.component.css.map */
