<ion-app>
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon slot="icon-only" name="chevron-back-outline" style="color: white"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">
        {{datas.name}}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onHome()">
          <img src="./assets/img/login-home.png" >
        </ion-button>
        <ion-button (click)="onSetting()" >
          <img src="./assets/img/login-set.png" >
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="page-content">
      <div class="page-box">
        <div class="page-card">
          <div class="page-card-header">
            <p>{{datas.name}}</p>
          </div>
          <div class="page-card-section">
            <ion-item class="items" *ngFor="let item of InputDatas; index as i" [lines]="'none'" (click)="onClick(item.id, i)" >
              <ion-label class="labels" >
                {{item.name}}
              </ion-label>
              <ion-input [type]="item.type" [slot]="'end'"
                         [placeholder]="item.placName"
                         class="input"
                         [(ngModel)]="item.value"
                         [maxlength]="12"
                         [readonly]="item.isRead"
                         (ionBlur)="InputChange(item.id)"
                         (ionFocus)="InputChange(item.id)"

              >
              </ion-input>
            </ion-item>
            <div class="imgMax">
              <div class="imgbox">
                <p>{{datas.inforlabel1}}</p>
                <div class="imgUp">
                  <img [src]="imgsPreview.header" alt="" class="imgs">
                  <img src="./assets/img/all-img.png" alt="" class="add">
                  <div class="name">车头</div>
                  <input type="file" class="file" (change)="onSelectFile($event,0)" accept="image/*"/>
                </div>
                <div class="imgUp1">
                  <img [src]="imgsPreview.section" alt="" class="imgs">
                  <img src="./assets/img/all-img.png" alt="" class="add">
                  <div class="name">车身</div>
                  <input type="file" class="file" (change)="onSelectFile($event,1)" accept="image/*"/>
                </div>
                <div class="imgUp">
                  <img [src]="imgsPreview.footer" alt="" class="imgs">
                  <img src="./assets/img/all-img.png" alt="" class="add">
                  <div class="name">车尾</div>
                  <input type="file" class="file" (change)="onSelectFile($event,2)" accept="image/*"/>
                </div>
                <div class="imgUp3">
                  <img [src]="imgsPreview.WeighingList" alt="" class="imgs">
                  <img src="./assets/img/all-img.png" alt="" class="add">
                  <div class="name">过磅单</div>
                  <input type="file" class="file" (change)="onSelectFile($event,3)" accept="image/*"/>
                </div>
              </div>
            </div>
          </div>
          <footer>
            <ion-buttons class="buttons" >
              <ion-button class="cancel">取消</ion-button>
              <ion-button class="ok" (click)="save()">确认录入</ion-button>
            </ion-buttons>
          </footer>
          <ion-datetime id="times"
                        displayFormat="YYYY/MM/DD/HH/mm"
                        pickerFormat="YYYY MM DD HH mm"
                        [pickerOptions]="customPickerOptions"
                        [(ngModel)]="ValueTime"
                        (ionChange)="timeChange($event)"
                        [min]="minTime" [hidden]="true"></ion-datetime>
          <span class="flex-span1"></span>
          <span class="flex-span2"></span>
          <span class="flex-span3"></span>
          <span class="flex-span4"></span>
        </div>

      </div>
    </div>
  </ion-content>
</ion-app>

