/*
Error: Can't extend .imgUp
       : can't extend nested selectors
        on line 99 of information.component.scss

94:     .imgUp1  {
95:       @extend .imgUp;
96:       margin-left: 10px;
97:     }
98:     .imgUp2  {
99:       @extend .imgUp
100:     //margin-left: 10px;
101:   }
102:     .imgUp3  {
103:       @extend .imgUp;
104:     margin-left: 10px;

Backtrace:
information.component.scss:99
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/selector/comma_sequence.rb:108:in `block in populate_extends'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/selector/comma_sequence.rb:106:in `each'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/selector/comma_sequence.rb:106:in `populate_extends'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:115:in `visit_extend'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:23:in `visit'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `block in visit_children_without_parent'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `map'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `visit_children_without_parent'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:32:in `block in visit_children'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:54:in `with_parent'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:31:in `visit_children'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:185:in `visit_rule'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:23:in `visit'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `block in visit_children_without_parent'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `map'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `visit_children_without_parent'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:32:in `block in visit_children'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:54:in `with_parent'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:31:in `visit_children'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:185:in `visit_rule'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:23:in `visit'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `block in visit_children_without_parent'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `map'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `visit_children_without_parent'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:32:in `block in visit_children'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:54:in `with_parent'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:31:in `visit_children'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:185:in `visit_rule'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:23:in `visit'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `block in visit_children_without_parent'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `map'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `visit_children_without_parent'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:32:in `block in visit_children'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:54:in `with_parent'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:31:in `visit_children'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:64:in `visit_root'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:23:in `visit'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:24:in `visit'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:6:in `visit'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:38:in `css_tree'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
D:/daoyi/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
D:/daoyi/Ruby27-x64/bin/sass:23:in `load'
D:/daoyi/Ruby27-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Can't extend .imgUp\A        : can't extend nested selectors\A         on line 99 of information.component.scss\A \A 94:     .imgUp1  {\A 95:       @extend .imgUp;\A 96:       margin-left: 10px;\A 97:     }\A 98:     .imgUp2  {\A 99:       @extend .imgUp\A 100:     //margin-left: 10px;\A 101:   }\A 102:     .imgUp3  {\A 103:       @extend .imgUp;\A 104:     margin-left: 10px;"; }
