<ion-app>
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon slot="icon-only" name="chevron-back-outline" style="color: white"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">
        {{datas.name}}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button >
          <img src="./assets/img/login-home.png" >
        </ion-button>
        <ion-button >
          <img src="./assets/img/login-set.png" >
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="page-content">
      <div class="page-box">
        <div class="page-card">
          <div class="page-card-header">
            <p>个人信息</p>
          </div>
          <span class="flex-span1"></span>
          <span class="flex-span2"></span>
          <span class="flex-span3"></span>
          <span class="flex-span4"></span>
        </div>

      </div>
    </div>
  </ion-content>
</ion-app>
