
<ion-app>
  <ion-content>
    <div class="page-content">
      <div class="page-card">
        <ion-item class="items" *ngFor="let item of serachData; index as i" [lines]="'none'">
          <ion-label class="lableBox">
            <div class="lableIcon"></div>
            <div class="lableTitle">
              {{item.name}}
            </div>
          </ion-label>
          <ion-input slot="end"
                     type="text"
                     class="inputs"
                     [placeholder]="item.placName"
                     [(ngModel)]="item.value"
                     [readonly]="item.isRead"
                     (click)="OnClick(item.id,i)"
                     maxlength="30"></ion-input>
        </ion-item>
        <ion-item class="items" [lines]="'none'">
          <ion-button slot="end" class="searchButton" (click)="OnClick(3,0)">查询</ion-button>
        </ion-item>
        <span class="flex-span1"></span>
        <span class="flex-span2"></span>
        <span class="flex-span3"></span>
        <span class="flex-span4"></span>
      </div>
      <div class="page-card">
        <div class="page-card-section">
          <div class="page-card-header">
            <p>通行车辆比例</p>
          </div>
          <div class="cityBox" (click)="openPicker()">
            {{city}}
          </div>
          <div id="cons"  [ngStyle]="{'width':barStyle.width+'px','height': barStyle.height+'px'}"></div>

        </div>
        <span class="flex-span1"></span>
        <span class="flex-span2"></span>
        <span class="flex-span3"></span>
        <span class="flex-span4"></span>
      </div>


      <div class="page-card">
        <div class="page-card-section">
          <div class="page-card-header">
            <p>超限车辆比例</p>
          </div>
          <div id="cons1"  [ngStyle]="{'width':barStyle.width+'px','height': barStyle.height+'px'}"></div>

        </div>
        <span class="flex-span1"></span>
        <span class="flex-span2"></span>
        <span class="flex-span3"></span>
        <span class="flex-span4"></span>
      </div>

      <ion-datetime id="times"
                    displayFormat="YYYY/MM/DD/HH/mm"
                    pickerFormat="YYYY MM DD HH mm"
                    [pickerOptions]="customPickerOptionsStart"
                    [(ngModel)]="ValueTimeStart"
                    [max]="minTime"
                     [hidden]="true">

      </ion-datetime>
      <ion-datetime id="timesEnd"
                    displayFormat="YYYY/MM/DD/HH/mm"
                    pickerFormat="YYYY MM DD HH mm"
                    [pickerOptions]="customPickerOptionsEnd"
                    [(ngModel)]="ValueTimeEnd"
                    [max]="minTime"
                     [hidden]="true">

      </ion-datetime>
    </div>

  </ion-content>
</ion-app>
