<ion-app>
  <!--头部-->
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon slot="icon-only" name="chevron-back-outline" style="color: white"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">
        {{name}}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onHome()" >
          <img src="./assets/img/login-home.png" >
        </ion-button>
        <ion-button (click)="onSetting()" >
          <img src="./assets/img/login-set.png" >
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!--身体-->
  <ion-content>
    <div class="page-content">
      <div class="page-box">
        <div class="page-card">
          <div class="page-card-header">
            <p>修改密码</p>
          </div>
          <div class="page-card-section">
            <div class="page-card-section-li" *ngFor="let item of lists">
              <p class="p1">{{item.name}}</p>
              <input class="input" type="password" [placeholder]="item.text" [(ngModel)]="item.value">
            </div>
          </div>
          <span class="flex-span1"></span>
          <span class="flex-span2"></span>
          <span class="flex-span3"></span>
          <span class="flex-span4"></span>
        </div>
        <!--    btn    -->
        <div class="page-btn">
          <div (click)="jump()" class="btn1">取消</div>
          <div (click)="jump()" class="btn1 btn2">保存</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-app>
