@charset "UTF-8";
div p span {
  font-size: 16px !important; }

div {
  box-sizing: border-box; }

p {
  margin: 0; }

.page-content {
  min-height: 100%;
  background-size: 100% 100%;
  padding: 13px 14px 24px; }

.page-box {
  width: 100%;
  background: rgba(31, 57, 122, 0.2);
  border: 1px solid #1F397A;
  padding: 13px 13px 0; }

.page-card {
  width: 100%;
  background: rgba(84, 129, 220, 0.2);
  border: 0 solid #1F397A;
  position: relative; }

.page-card-header {
  padding: 7px 10px;
  background: rgba(84, 129, 220, 0.2);
  border: 1px solid #1F397A; }
  .page-card-header p {
    margin: 0; }

.toolbar {
  --background: #0A0E2E;
  --color: #fff; }
  .toolbar .title {
    --color: #fff;
    text-align: center;
    font-size: 17px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #FFFFFF; }
  .toolbar img {
    width: 21px;
    height: 21px; }

.page-card-header p {
  font-size: 16px;
  font-weight: normal;
  color: #1DDEFB; }

.page-card span {
  position: absolute;
  width: 7px;
  height: 7px;
  border: 1px solid #1DDEFB; }

.page-card .flex-span1 {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none; }

.page-card .flex-span2 {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none; }

.page-card .flex-span3 {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none; }

.page-card .flex-span4 {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none; }

.page-card-section {
  background: rgba(244, 91, 91, 0.2);
  border: 1px solid #F45B5B;
  margin-top: 11px; }

.page-card2-section {
  background: rgba(31, 57, 122, 0.2);
  border: 1px solid #1f397a;
  margin-top: 11px; }

/*详细信息排序 盒子 content*/
.section-card-section-content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 11px; }

.section-card-section-content .p1 {
  width: 50%;
  font-size: 15px;
  font-weight: 400;
  color: #FFFFFF;
  padding-left: 15px;
  margin-top: 11px; }

.section-card-section-content .p1 span {
  min-width: 34px;
  text-align: left; }

.map {
  width: 100%;
  height: 100%; }

.maxbox {
  background: url("../../../assets/img/home_bg.png") no-repeat;
  background-size: 100% 100%;
  padding-top: 30px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }

.toolbar {
  --background: #0A0E2E;
  --color: #fff; }
  .toolbar .title {
    --color: #fff;
    text-align: center;
    font-size: 17px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #FFFFFF; }
  .toolbar img {
    width: 21px;
    height: 21px; }

.labelbox {
  width: 100%;
  display: flex;
  justify-content: space-around; }
  .labelbox .labelbox2 {
    background: rgba(81, 125, 213, 0.4);
    border-radius: 15px; }
    .labelbox .labelbox2 .label1 {
      width: 160px;
      height: 160px;
      border-radius: 15px;
      display: flex;
      align-items: flex-end;
      background: url("../../../assets/img/yunxingjiance.png") no-repeat center top;
      background-size: 80% 80%;
      padding-bottom: 10px; }
    .labelbox .labelbox2 .label2 {
      width: 160px;
      height: 160px;
      border-radius: 15px;
      display: flex;
      align-items: flex-end;
      background: url("../../../assets/img/yuantou.png") no-repeat center top;
      background-size: 80% 80%;
      padding-bottom: 10px; }
    .labelbox .labelbox2 .text {
      width: 100%;
      font-size: 17px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #FFFFFF;
      margin: 0;
      text-align: center; }

.labelbox3 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px; }
  .labelbox3 .labelbox2 {
    background: rgba(81, 125, 213, 0.4);
    border-radius: 15px; }
    .labelbox3 .labelbox2 .label3 {
      width: 160px;
      height: 160px;
      border-radius: 15px;
      display: flex;
      align-items: flex-end;
      background: url("../../../assets/img/zhidiaodu.png") no-repeat center top;
      background-size: 80% 80%;
      padding-bottom: 10px; }
    .labelbox3 .labelbox2 .label4 {
      width: 160px;
      height: 160px;
      border-radius: 15px;
      display: flex;
      align-items: flex-end;
      background: url("../../../assets/img/zongsearch.png") no-repeat center top;
      background-size: 80% 80%;
      padding-bottom: 10px; }
    .labelbox3 .labelbox2 .text {
      width: 100%;
      font-size: 17px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #FFFFFF;
      margin: 0;
      text-align: center; }

.footer_box {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(270deg, #091220, #5481DC, #091220); }

.imgButton {
  width: 78px;
  height: 78px;
  position: absolute;
  bottom: 10px; }

.header-flex-source {
  padding: 9px 0;
  background: rgba(54, 93, 220, 0.5);
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 88 !important;
  padding-left: 15px; }
  .header-flex-source .header-flex-p1 {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF; }
  .header-flex-source .transform-p1 {
    animation: 10s wordsLoop linear infinite normal; }
  .header-flex-source .header-flex-p2 {
    display: flex;
    margin-top: 5px; }
    .header-flex-source .header-flex-p2 span {
      font-size: 9px;
      font-weight: 400;
      color: #FFFFFF;
      margin-right: 7px; }
      .header-flex-source .header-flex-p2 span:nth-child(1) {
        color: #11E5F7; }

@keyframes wordsLoop {
  0% {
    transform: translateX(93px);
    -webkit-transform: translateX(93px); }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%); } }
@-webkit-keyframes wordsLoop {
  0% {
    transform: translateX(93px);
    -webkit-transform: translateX(93px); }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%); } }
.header-flex4-source {
  right: 0;
  left: auto;
  background: rgba(244, 91, 91, 0.2);
  white-space: nowrap;
  width: 100%;
  overflow-y: hidden; }

/*# sourceMappingURL=index.component.css.map */
