
.maxbox{
  background: url("../../../assets/img/login-bg.png") no-repeat;
  background-size: 100% 100%;
  padding-top: 30px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toolbar{
  --background: #0A0E2E;
  --color: #fff;
  .title{
    --color: #fff;
    text-align: center;
  }
  img{
    width: 21px;
    height: 21px;
  }
}
//

.labelbox{
  width: 100%;
  display: flex;
  justify-content: space-around;

  .labelbox2{
    background: rgba(81, 125, 213, 0.4);
    border-radius: 15px;
    .label1{ // 运营
      width: 160px;
      height: 160px;
      border-radius: 15px;
      display: flex;
      align-items: flex-end;
      background: url("../../../assets/img/yunxingjiance.png");
      background-size: 100% 100%;
      padding-bottom: 10px;

    }
    .label2{ // 源头
      width: 160px;
      height: 160px;
      border-radius: 15px;
      display: flex;
      align-items: flex-end;
      background: url("../../../assets/img/yuantou.png");
      background-size: 100% 100%;
      padding-bottom: 10px;
      //margin-left: 10px;
    }
    .text{
      width: 100%;
      font-size: 18px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #FFFFFF;
      text-align: center;
    }

  }


}
.labelbox3{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  .labelbox2{
    background: rgba(81, 125, 213, 0.4);
    border-radius: 15px;
    .label3{ // 源头
      width: 160px;
      height: 160px;
      border-radius: 15px;
      display: flex;
      align-items: flex-end;
      background: url("../../../assets/img/zhidiaodu.png");
      background-size: 100% 100%;
      padding-bottom: 10px;
    }
    .label4{ // 源头
      width: 160px;
      height: 160px;
      border-radius: 15px;
      display: flex;
      align-items: flex-end;
      background: url("../../../assets/img/zongsearch.png");
      background-size: 100% 100%;
      padding-bottom: 10px;
      //margin-left: 10px;
    }
    .text{
      width: 100%;
      font-size: 18px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #FFFFFF;
      text-align: center;
    }

  }
}
.footer_box{
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(270deg, #091220, #5481DC, #091220);
}
.imgButton{
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 10px;
}

