@import "../../Base/BaseCss";
.maxbox{
  background: url("../../../assets/img/home_bg.png") no-repeat;
  background-size: 100% 100%;
  padding-top: 30px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toolbar{
  --background: #0A0E2E;
  --color: #fff;
  .title{
    --color: #fff;
    text-align: center;

    font-size: 17px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #FFFFFF;
  }
  img{
    width: 21px;
    height: 21px;
  }
}
//

.labelbox{
  width: 100%;
  display: flex;
  justify-content: space-around;

  .labelbox2{
    background: rgba(81, 125, 213, 0.4);
    border-radius: 15px;
    .label1{ // 运营
      width: 160px;
      height: 160px;
      border-radius: 15px;
      display: flex;
      align-items: flex-end;
      background: url("../../../assets/img/yunxingjiance.png") no-repeat center top;
      background-size: 80% 80%;
      padding-bottom: 10px;

    }
    .label2{ // 源头
      width: 160px;
      height: 160px;
      border-radius: 15px;
      display: flex;
      align-items: flex-end;
      background: url("../../../assets/img/yuantou.png") no-repeat center top;
      background-size: 80% 80%;
      padding-bottom: 10px;
      //margin-left: 10px;
    }
    .text{
      width: 100%;
      font-size: 17px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #FFFFFF;
      margin: 0;
      text-align: center;
    }

  }


}
.labelbox3{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  .labelbox2{
    background: rgba(81, 125, 213, 0.4);
    border-radius: 15px;
    .label3{ // 源头
      width: 160px;
      height: 160px;
      border-radius: 15px;
      display: flex;
      align-items: flex-end;
      background: url("../../../assets/img/zhidiaodu.png") no-repeat center top;
      background-size: 80% 80%;
      padding-bottom: 10px;
    }
    .label4{ // 源头
      width: 160px;
      height: 160px;
      border-radius: 15px;
      display: flex;
      align-items: flex-end;
      background: url("../../../assets/img/zongsearch.png") no-repeat center top;
      background-size: 80% 80%;
      padding-bottom: 10px;
      //margin-left: 10px;
    }
    .text{
      width: 100%;
      font-size: 17px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #FFFFFF;
      margin: 0;
      text-align: center;
    }

  }
}
.footer_box{
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(270deg, #091220, #5481DC, #091220);
}
.imgButton{
  width: 78px;
  height: 78px;
  position: absolute;
  bottom: 10px;
}

.header-flex-source{
  padding: 9px 0;
  background: rgba(54, 93, 220, .5);
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 88!important;
  padding-left: 15px;
  .header-flex-p1{
    font-size: $font-size;
    font-weight: 400;
    color: #FFFFFF;

  }
  .transform-p1{
    animation: 10s wordsLoop linear infinite normal;
  }
  .header-flex-p2{
    display: flex;
    margin-top: 5px;
    span{
      font-size: 9px;
      font-weight: 400;
      color: #FFFFFF;
      margin-right: 7px;
      &:nth-child(1){
        color: #11E5F7;
      }
    }
  }
}

@keyframes wordsLoop {
  0% {
    transform: translateX(93px);
    -webkit-transform: translateX(93px);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes wordsLoop {
  0% {
    transform: translateX(93px);
    -webkit-transform: translateX(93px);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

.header-flex4-source{
  right: 0;
  left: auto;
  background: rgba(244, 91, 91, 0.2);
  white-space: nowrap;
  width: 100%;
  overflow-y: hidden;

}
