<ion-app>
  <!--头部-->
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon slot="icon-only" name="chevron-back-outline" style="color: white"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">
        车辆基本信息
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onHome()">
          <img src="../../../assets/img/login-home.png" >
        </ion-button>
        <ion-button (click)="onSetting()" >
          <img src="../../../assets/img/login-set.png" >
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!--身体-->
  <ion-content>
    <div class="page-content">
      <div class="page-box">
        <div class="page-box-header">
          历史违法记录({{levels.length}})
        </div>
        <div class="car-card" *ngFor="let level of levels,let indx=index">
          <div class="car-header" [class.car-header-show]="temp == indx"  (click)="accordion(indx)">
            <p class="p1">{{level.time}}</p>
            <p class="p1">{{level.name}}<span>{{level.span}}</span></p>
            <img class="flex-img" [src]="level.img" alt="">
          </div>
          <div class="car-section" *ngIf="temp == indx">
            <div class="img-content">
              <ion-content>
                <ion-slides pager="true" [options]="slideOpts">
                  <ion-slide>
                    <h1>Slide 1</h1>
                  </ion-slide>
                  <ion-slide>
                    <h1>Slide 2</h1>
                  </ion-slide>
                  <ion-slide>
                    <h1>Slide 3</h1>
                  </ion-slide>
                </ion-slides>
              </ion-content>
              <p class="flex-p1">湘G22728</p>
            </div>
            <div class="car-section-down">
              <p class="p1 down-time-p1">{{level.time}}</p>
              <p class="p1 down-time-p2">{{level.text}}</p>
            </div>
          </div>
        </div>
        <img class="page-img-close" (click)="onClose()" src="../../../assets/img/all-close.png" alt="">
      </div>
    </div>
  </ion-content>
</ion-app>
