
<ion-app>
  <ion-content>
    <div class="page-content">
      <div class="page-card">
          <ion-item class="items" *ngFor="let item of serachData; index as i" [lines]="'none'">
            <ion-label class="lableBox">
              <div class="lableIcon"></div>
              <div class="lableTitle">
                {{item.name}}
              </div>
            </ion-label>
            <ion-input slot="end"
                       type="text"
                       class="inputs"
                       [placeholder]="item.placName"
                       [(ngModel)]="item.value"
                       [readonly]="item.isRead"
                       (click)="OnClick(item.id,i)"
                       maxlength="30"></ion-input>
          </ion-item>
          <ion-item class="items" [lines]="'none'">
            <ion-button slot="end" class="searchButton" (click)="OnClick(3,0)">查询</ion-button>
          </ion-item>
          <span class="flex-span1"></span>
          <span class="flex-span2"></span>
          <span class="flex-span3"></span>
          <span class="flex-span4"></span>
        </div>
      <div class="page-card">
        <div class="page-card-section">
          <div class="page-card-header">
            <p>超限率(%)</p>
          </div>
          <div id="cons0"  [ngStyle]="{'width':barStyle.width+'px','height': barStyle.height+'px'}"></div>

        </div>
        <span class="flex-span1"></span>
        <span class="flex-span2"></span>
        <span class="flex-span3"></span>
        <span class="flex-span4"></span>
      </div>

      <div class="page-card margin_top">
        <nz-table #basicTable [nzData]="listOfData"
                  [nzShowPagination]="false"
                  [nzTotal]="total"
                  [nzPageIndex]="1"
                  [nzFrontPagination]="false"
                  [nzPageSize]="pagesize"
                  [nzSimple]="true"
                  [nzSize]="'small'"
                  class="test"
                  (nzPageIndexChange)="PageIndexChange($event)"
        >
          <thead>
          <tr >
            <th [nzAlign]="'center'" [nzEllipsis]="true">编号</th>
            <th [nzAlign]="'center'" [nzEllipsis]="true">检测点</th>
            <th [nzAlign]="'center'" [nzEllipsis]="true">过车量</th>
            <th [nzAlign]="'center'" [nzEllipsis]="true">超限率</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of listOfData;index as i"  >
            <td [nzAlign]="'center'">{{i}}</td>
            <td [nzAlign]="'center'">{{data.stationName}}</td>
            <td [nzAlign]="'center'" >{{data.gcl}}</td>
            <td [nzAlign]="'center'">{{data.olr}}</td>
          </tr>
          </tbody>
        </nz-table>

        <span class="flex-span1"></span>
        <span class="flex-span2"></span>
        <span class="flex-span3"></span>
        <span class="flex-span4"></span>
      </div>


      <ion-datetime id="times"
                    displayFormat="YYYY/MM/DD/HH/mm"
                    pickerFormat="YYYY MM DD HH mm"
                    [pickerOptions]="customPickerOptionsStart"
                    [(ngModel)]="ValueTimeStart"
                     [hidden]="true">

      </ion-datetime>
      <ion-datetime id="timesEnd"
                    displayFormat="YYYY/MM/DD/HH/mm"
                    pickerFormat="YYYY MM DD HH mm"
                    [pickerOptions]="customPickerOptionsEnd"
                    [(ngModel)]="ValueTimeEnd"
                    [min]="minTime" [hidden]="true">

      </ion-datetime>
    </div>

  </ion-content>
</ion-app>
